---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
}

a.menuLink {
    background: #fff;
    border-radius: 5em;
    padding: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
    color: #333;
}

a.menuLink:hover {
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    color: #1D6698;
}

.mainBackgroundBack {
  position: absolute;
  z-index: -1;
  -webkit-filter: opacity(.3) blur(5px);
  filter: opacity(.4) blur(5px);
  right: -30%;
  top:0;
  width: 90%;
}

.mainBackgroundForeL {
  position: absolute;
  z-index: -1;
  left: -10%;
  top: 60%;
  width: 60%;
}

.mainBackgroundForeR {
  position: absolute;
  z-index: -1;
  right: 0%;
  top: 60%;
  width: 50%;
}

.banner {
  z-index: -1;
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  overflow-x: visible;
}
